/mecstat/cpn/simple_test/GPATH
/mecstat/cpn/simple_test/GRTAGS
/mecstat/cpn/simple_test/GTAGS
/mecstat/cpn/simple_test/autom4te.cache/output.2
/mecstat/cpn/simple_test/autom4te.cache/traces.2
/mecstat/cpn/simple_test/compile_commands.json
/mecstat/cpn/simple_test/illustrate
/mecstat/ising/config/compile
/mecstat/ising/config/config.guess
/mecstat/ising/config/config.sub
/mecstat/ising/config/depcomp
/mecstat/ising/config/install-sh
/mecstat/ising/config/keep_orderd_timestamp_list~
/mecstat/ising/config/missing
/mecstat/ising/ising
mecstat/cpn/simple_test/build/
mecstat/cpn/simple_test/build_hmc_debug/
mecstat/cpn/simple_test/m4/
mecstat/z3/build
mecstat/z3_worm/build
mecstat/metatest/build
mecstat/ising/build
mecstat/cpn/build
/esagoni/config/compile
